.shooter {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 80%;
  min-width: 270px;
  max-width: 550px;
  font-size: 1.5rem;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px 20px;
  font-weight: 600;
}

.shooter div:nth-child(1) {
  flex-basis: 10%;
}

.shooter div:nth-child(2) {
  flex-basis: 40%;
}

.shooter div:nth-child(3) {
  flex-basis: 40%;
}

.shooter div:nth-child(4) {
  flex-basis: 10%;
  color: orangered;
  font-size: 2.5rem;
}
