.shooter {
  display: flex;
  align-items: center;
  width: 80%;
  min-width: 270px;
  max-width: 550px;
  font-size: 1.9rem;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px 10px;
  font-weight: 600;
}

/* .shooter div:nth-child(1) {
  flex-basis: 10%;
} */

.shooter div:nth-child(1) {
  flex-basis: 20%;
}

.shooter div:nth-child(2) {
  flex-basis: 60%;
}

.shooter div:nth-child(3) {
  flex-basis: 20%;
  color: orangered;
  font-size: 2.5rem;
}
