@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: red solid 3px;
}

.win {
  color: green;
}

.lose {
  color: red;
}

/* .spinner-border {
  position: absolute;
  top: calc(50vh - 2.5rem);
  left: calc(50vw - 2.5rem);
  width: 5rem;
  height: 5rem;
} */
